
ul li{
list-style-type:none;
margin: 10px;
}
li A {
         text-decoration: none;
        color: black;
    }

.menu{
    border-top: solid #309aac; 
    border-bottom: solid #309aac; 
    display: flex;              
    justify-content: space-around;           
}
.entete{
    margin-bottom: 2%;
}
.buttondiv{
    text-align: center;
}
h1{
    color: #309aac;
    padding-bottom: 5%;
}
h2{
    padding-top: 2%;
}
p{
    text-align: center;
    font-family: 'Lora', serif; 

}
.buttoninscription{
    margin-top: 1%;
    text-align: center;
}
.descriptiondiv{
    background-color: black;
    font-size: 18px;
}
.description{
    color: white;
    padding-top: 8%;
    padding-bottom: 8%;
}
/* .entete{
    background-color: black;
} */
body{

    background-color: black;
    font-family: 'Kameron', serif;
    }
    
h1, h2{
        text-align: center;
    }


.imglogo{
    width: 5%;
    height: 10px;
}



.classique {
margin-top: 5%;
display: flex;
justify-content: center;
border : solid 2px black 
}

.catalogue {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
     border : solid 2px black 
    }
    
.coverManga {
    height: 50vh;
    width: auto;
   
}


.parent {
 
    height: 100%;
    width: 100%;
    text-align: center;
    border: white solid 4px;
     
    
}

.parent2 {
 
    height: 100%;
    width: 24%;
    text-align: center;
    border: white solid 4px;
     
    
}
.emprunt{

    width: 10vw ;
    height: 3vh;
    color: white;
    background-color: midnightblue;
    border-radius:  15px; 
}

.emprunt:hover{
    background-color: grey;
    color: blue;
    transform: translateY(-2px);
    transition-duration: 0.5s;
}